
</div>
      <div class="desktop img-group col-12 col-md-5">
        <img src="images/hero-desktop.jpg" alt="Hero image">
      </div>
    </div>
  </div>

<footer class="container-fluid">
    <p class="footer-text">
      | Challenge by
      <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a> 
      | Code by <a href="https://kaiyuncheng.github.io/">kaiyuncheng</a> |
    </p>
  </footer>

  <script src="app.js"></script>
</body>

</html>