<%- include('header') -%>

        <div class="text">
            <h2>
              <span>Awesome!</span>
            </h2>

            <p class="paragraph">
              You have been successfully signed up to the newsletter, look
              forwards to lots of awesome contact.
            </p>
          </div>
          <form
            action="/success"
            method="POST"
            class="email-form email-box"
            id="form"
          >
            <button type="submit" class="btn-submit btn-try" id="submit">
              Home
            </button>
          </form>
      

  <%- include('footer') -%>
